.snakemake
.ipynb_checkpoints
Thumbs.db
models
data
reports
*.tif
*.mp4
*.gif
__pycache__
*.asv

# pyenv
.python-version

# Symlink folders
training_data/

# exclude config changes
config.yml
config_local.yml

# exclude slurm logs
slurm-*.out
