.snakemake
.ipynb_checkpoints
Thumbs.db
data
reports
*.tif
*.mp4
*.gif
__pycache__
*.asv
*.png
*.PNG
*.eps
*.csv
*.vtk
*.svg
*.ai
*.mat
*.lnk

*.npy
*.xcf
*.jpg
*.pdf

*.vtp
*.pwin

# Adobe Illustrator
Fonts

# pyenv
.python-version

# Synology dirs
@eaDir

# Symlink folders
training_data
models
interim_data
input_data
tracks
accuracies
accuracies_copy_bronto
data_BiofilmQ
figures
!iterative_biofilm_annotation/figures

.checkpoints

# exclude config changes
config.yml
config_local.yml

# exclude slurm logs
slurm-*.out
