.snakemake
.ipynb_checkpoints
Thumbs.db
data
reports
*.tif
*.mp4
*.gif
__pycache__
*.asv

# pyenv
.python-version

# Symlink folders
training_data
models
interim_data
input_data
tracks

# exclude config changes
config.yml
config_local.yml

# exclude slurm logs
slurm-*.out
